<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" >
<head> 
    <title th:text="${theme.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   	<style>
   		body {
			background-color: #ffccb3;
		}
		
		div {
			margin:auto;
			padding:1%;
			width:70%;
			border: 1px solid black;
			background-color: #ffaa80;
			margin-bottom: 1%;
			position: relative
		}
		
		input, textarea {
			background-color: #ffaa99;
		}
		
		a {
			color:black;
		}
   	</style>
</head>
<body>

	<div>
	    <h1 th:text = "${theme.title}"></h1>
	    <a th:method="GET" th:href="@{/}">Back to Themes </a>
	</div>
    
    <div th:each = "discussion : ${theme.discussions}">
		<p> 
			<a th:method="GET" 
				th:href="@{/discussions/{themeId}/{discussionId}(themeId=${theme.id}, discussionId=${discussion.id})}" 
				th:text="${discussion.title} + ' >> ' + ${discussion.headerComment.dateCreated}">
			</a> 
			
			<span th:if="${discussion.closed}" style="color: brown;">[Closed]</span>
		</p>
		
		<p th:text="${discussion.headerComment.msg}">
		
		<table sec:authorize="isAuthenticated()">
			<tr>
				<td sec:authorize="hasAuthority('CLOSE_DISCUSSION')">
					<form th:method="PUT" th:action="@{/discussions/{themeId}/{discussionId}
						(themeId=${theme.id}, discussionId=${discussion.id})}">
						
						<input type="submit" th:value="${discussion.closed} ? 'Unclose' : 'Close'"/> 
					</form>
				</td>
				
				<td sec:authorize="hasAuthority('DELETE_DISCUSSION')">
					<form th:method="DELETE" th:action="@{/discussions/{themeId}/{discussionId}
						(themeId=${theme.id}, discussionId=${discussion.id})}">
						
						<input type="submit" value="Delete"/> 
					</form>
				</td>
			</tr>
		</table>
    </div>
    
    <div th:unless="${theme.closed}">
	     <form th:method="POST" th:action="@{/discussions}" th:object="${discussion}">
	     	<input type="hidden" name="themeId" th:value="${theme.id}"/>
	     
		    <label for="title">Enter Discussion Title: </label>
		    <input type="text" th:field="*{title}" id="title"/>
		    </br>
		    <textarea th:field="*{msg}" placeholder="Add more details if you want"></textarea>
		    <input type="submit" value="Send"/>
		</form>
    </div>
</body>
</html>